DB_PASSWORD=vynspire
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.xfbzdtvscvwxzgjdglvh:vynspire@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.xfbzdtvscvwxzgjdglvh:vynspire@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_SECRET=2d9f3a82a5c7480d84b1c6fbd3aa7f03qwe
