DB_PASSWORD=vynspire
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.xfbzdtvscvwxzgjdglvh:vynspire@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.xfbzdtvscvwxzgjdglvh:vynspire@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL=https://xfbzdtvscvwxzgjdgsdh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhmYnpkdHZzY3Z3eHpnamRnbHZoIiwicm9szI6ImFub24iLCJpYXQiOjE3NTQwNjk4OTYsImV4cCI6MjA2OTY0NTg5Nn0.igbsjsRr824q8Br-wFHVrSFTzzOIp8Pl9Axp107-d5A
JWT_SECRET=2d9f3a82a5c7480d84b1c6fbd3aa7f03qwe
